html{
     background: #3023ae;
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#3023ae), color-stop(100%,#c86dd7));
    background: linear-gradient(135deg,  #3023ae 0%,#c86dd7 100%);
    background-attachment: fixed;
}

.row h1{
    color: yellow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    animation: blinking alternate 0.5s infinite;
}
@keyframes blinking {
    25% {color:rgb(238, 46, 72) ;}
    50% {color: rgb(12, 235, 49);}
    75%{color: rgb(47, 241, 199);}
    100%{color: yellow;}
}
.top h3{
    color: rgb(236, 231, 231);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.top{
    background-color:rgb(19, 16, 16)
}

#output{
    height: 200px;   
    
}
input{
    height: 50px;
    width: 80%;
    border: 3px solid rgb(2, 63, 10);
    border-radius: 5px;
    
}
